[2014-08-10 12:06] osyo-manga opened #1 "Vim が SEGV する"
Lingr で言っていたやつですがとりあえず、立てておきます。
#### 再現環境
- Ubuntu 13.10
- Vim 7.4.343、7.5.398
#### 再現 vimrc

[code]
#### 再現手順
1. vim起動
2.

[code]

をバッファに貼り付ける。
3. `:GrammarousCheck`
4. 適当にカーソルを移動させる。
5. （おそらく）エラー箇所にカーソルが移動した時に SEGV
#### 状況

エラー箇所にカーソルを移動させると SEGV する時がある。
再現率は100％ではない。

[2014-08-10 12:15] rhysd opened #2 "Wrong buffer name for the information window"

[2014-08-12 00:47] rhysd opened #3 "A unite.vim source for checked errors"

[2014-08-12 00:47] rhysd opened #4 "A unite.vim source for actions in the info window"

[2014-08-12 00:48] rhysd opened #5 "Refactoring: Move functions related to the info window to grammarous/info_win.vim"

[2014-08-12 07:48] #2 closed, assigned to rhysd

[2014-08-12 07:52] rhysd opened #6 "New action: remove useless rules dynamically"
I'll add a mapping to remove all errors whose rule id is the same as the one under the cursor.
- Global : `<Plug>(grammarous-disable-rule-id)`
- Info window : `R`

[2014-08-12 09:14] #6 closed, assigned to rhysd

[2014-08-12 10:07] rhysd opened #7 "Execute the checker in background using vimproc"
- Executing the checker for large file takes a while.
- Executing the checker in background and polling the result makes the process non-blocking.
- Non-blocking execution takes longer than blocking version.
  - It is good design that a user can chose blocking or non-blocking.
- I should start to resolve this issue after making dependency on vimproc optional.
- [Vital.Reunion](https://github.com/o

[2014-08-13 08:23] rhysd opened #8 "Some dictionaries of errors are broken."
Some odd keys and values are inserted in some error dictionaries.  And some values are illegally the same as their keys.

`Vital.Web.XML.parse()` may be broken.  In the case,  investigation is needed.
### Example

[code]

[2014-08-13 09:31] #5 closed, assigned to rhysd

[2014-08-13 09:31] #3 closed, assigned to rhysd

[2014-08-13 19:47] rhysd opened #9 "Filetype specific ignore rules"
I'll extend `g:grammarous#disabled_rules` from array to dictionary whose keys are filetypes.  `"*"` key means global.  For compatibility,  if user sets `g:grammarous#disabled_rules` as array,  vim-grammarous automatically convert it to `{"*" : user_specified_array }` on initialization.

[2014-08-13 19:58] rhysd opened #10 "Filetype specific ignore pattern"
`g:grammarous#ignore_patterns` is a dictionary whose key is filetype and whose value is array of pattern.  Ignored area should be linewise because line and col will be changed if it is characterwise.  The pattern in the array is a dictionary and it should has a key `"start"` and `"end"` or `"start"` and `"post_end"` or simply `"pattern"` only.  `"end"` means the ignored area ends with the pattern

[2014-08-14 14:34] rhysd opened #11 "Check specified range"
Add `-range` to `:GrammarousCheck`.
To implement the checking with reasonable cost, the temporary buffer should be below:
- line `1` - line `<line1> - 1` : blank lines are inserted
- `<line1>` - `<line2>` : the normal lines from the buffer are inserted
- after `<line2>` : nothing

[2014-08-14 18:07] rhysd opened #12 "Check comments only."
Checking only comments is useful for source code.  It can be implemented by filtering the errors using the highlight of its location.  I'm considering this feature's API.  It should be an option of `:GrammarousCheck`?

[2014-08-14 22:36] rhysd opened #13 "A buffer number grows up massively"
This issue is reported in #1.
Despite specifying `bufhidden=wipe`, the buffer number grows up.  I should investigate:
- it's the normal behavior or not
- it's no problem even if the number grows up massively or not

[2014-08-14 22:44] #8 closed, assigned to rhysd

[2014-08-14 22:44] #11 closed, assigned to rhysd

[2014-08-15 23:07] #4 closed, assigned to rhysd

[2014-08-15 23:08] rhysd opened #14 "Make vimproc.vim dependency optional"
`Vital.Process.system()` is available.

[2014-08-16 01:40] rhysd opened #15 "Also set spell check on grammar check"
It may be confusing the error highlight is derived from grammar check or spell check.  This feature should be disabled by default.

[2014-08-16 01:57] #9 closed, assigned to rhysd

[2014-08-16 01:57] #12 closed, assigned to rhysd

[2014-08-16 01:57] #14 closed, assigned to rhysd

[2014-08-16 01:57] #15 closed, assigned to rhysd

[2014-08-16 07:48] rhysd opened #16 "Jump to the error's location"
It's very handy to jump cursor to the next/previous error's location.  It should be available as `<Plug>` mappings and local mappings in the info window.  In addition,  an option to jump to the first error on completing the check should be also provided.

[2014-08-16 09:55] #13 closed, assigned to rhysd

[2014-08-16 09:55] #16 closed, assigned to rhysd

[2014-08-16 10:14] rhysd opened #17 "Hooks on checking/resetting"
- `on_check`
- `on_reset`

[2014-08-16 10:29] #17 closed, assigned to rhysd

[2014-08-16 10:31] #1 closed, assigned to rhysd

[2014-08-20 22:24] deris opened #19 "I'd like you to support Vim version lower than 7.4.330"
matchaddposを使っているのでVim 7.4.330以上が必須になっていますが、できればもうちょっと下のバージョンまでサポートして欲しいです。

[2014-08-21 13:06] #19 closed, assigned to rhysd

[2014-12-08 02:51] itchyny opened #20 "vim-grammarous: Could not download jar file because 'curl' and 'wget' are not found."
The GrammarousCheck command warns me, while curl is available.

[code]

[code]

[2014-12-08 04:16] #20 closed, assigned to rhysd

[2015-11-22 10:14] lbischof opened #21 "Update Languagetool version"
Languagetool is now version 3.1

[2015-11-22 10:20] rhysd commented on #21
OK, I'll fix it later.

But you can try to specify the URL of language-tool as below.

[code]

[2016-02-07 17:30] thinca opened #22 "No help, no vim plugin"
We need help.

[2016-02-07 17:33] tyru commented on #22
It seems a マサカリ is thrown by マンボウ.

[2016-02-07 17:37] thinca commented on #22
:muscle:

[2016-02-07 18:43] rhysd commented on #22
I don't think so.  README already exists.  I want to avoid extra work and manage duplicate document.

[2016-02-07 18:43] #22 closed

[2016-02-07 21:13] thinca commented on #22
:-1:

[2016-02-07 21:24] rhysd commented on #22
@thinca

もし本当にこの issue が fix されるべきだと考えていらっしゃるのでしたら，その理由をちゃんと分かる形で記述して新しい issue を立ててください．PR であればパッチがその意図を伝えるのを手伝ってくれますが，これは issue ですので，ちゃんと伝わるように記述してください．あと No help, no vim plugin の根拠も分かりません．

[2016-02-07 21:30] rhysd commented on #22
@thinca

僕が issue を閉じコメントを lock した理由は以下です

- タイトルが意味不明
- issue 本体にも理由が無い

[2016-02-07 21:31] thinca opened #23 "help がない"
久しぶりに grammarous を使おうとして、使い方をすっかり忘れてしまったのでヘルプを参照しようと `:help grammarous` を実行しましたが、使い方が書かれていませんでした。
いちいちブラウザを開かないと使い方が参照できないのはとてつもなく不便だと感じたので、help があると嬉しいです。

[2016-02-08 15:16] rhysd commented on #23
なるほど，では Basic Usage について doc に追加します．

[2016-02-09 14:55] rhysd commented on #23
ユースケースに対して充分な内容の help だと思うので，この issue は閉じます．

蛇足ですが，本件

- 特に理由も書かず雑な issue 立てで
- それに対してこちらはちゃんと考えて理由を伝えてやらないと close し，
- README へのリンクを help ファイルに記載するワークアラウンドも追加したのに対し，
- （技術的なハードルが特に無く，README もある本件に対して）「じゃあ PR 出すわ」どころか「:-1:」単体のコメントをされた

という4点でカチンときたことをお伝えしておきます．

[2016-02-09 14:55] #23 closed

[2016-02-09 16:32] thinca commented on #23
まずは対応ありがとうございました。
今回は、@rhysd さんであれば Vim プラグインにおける help の重要性について理解しているに違いない、と言う私の勝手かつ一方的な思い込みがあり、その辺りの認識のすり合わせを怠り、結果として独善的な態度になってしまい、非常に不快な思いをさせてしまったことについて、大変申し訳ありませんでした。
深く反省し、今後はこのようなことがないよう、経緯の説明などを怠らないよう努めたいと思います。
未熟な身ではございますが、今後とも変わらぬお付き合いを頂けますよう心よりお願い申し上げます。

[2016-02-09 16:45] tyru commented on #23
@rhysd
自分も煽るようなコメントを書き込んでしまって大変申し訳ありませんでした。
文脈を欠いた発言をした事について深くお詫び申し上げます。

[2016-02-10 16:20] rhysd commented on #23
いえ，分かっていただければ大丈夫です．（変な誤解があったら困ると思ったので，言い過ぎ感はありましたが全部書きました）また，勉強会等で会った時はよろしくお願いします．

余談ですが，僕はあまり help を重視していないです．（例えば，commitia.vim，vim-crystal などなど）

[2016-02-11 09:33] sgur commented on #21
LanguageTool version 3.2 was [released](http://forum.languagetool.org/t/announcement-languagetool-3-2/681), too.

But this version requires Java 8.
I have no idea that which version is more suitable as default.

https://www.languagetool.org/download/LanguageTool-3.2.zip

[2016-02-11 09:35] rhysd commented on #21
Yes, I thought the same.

I must investigate which version is suitable for default value.  At least OS X now uses Java8 by default.

[2016-02-11 09:54] tyru commented on #21
@rhysd Maybe you can also determine which version is suitable by `:if`.
Abstract code is here:

[code]

[2016-02-11 09:59] rhysd commented on #21
@tyru

I don't think Java version is problem (sorry for confusing).  I think I can limit Java version >= 8 for vim-grammarous.

What I must investigate is that major version update (3.0) doesn't break vim-grammarous.  If vim-grammarous can work with LanguageTool 3.0+,  I will update the URL and update Java version requirement to 8.

[2016-05-16 17:18] fncll commented on #21
Have you any update on possibly using Grammarous with the more recent versions of LanguageTool?

[2016-05-28 00:43] rhysd commented on #21
Although default version is old, you can specify `g:grammarous#jar_url` to use latest version of LanguageTool.  Did you try that?

[2016-07-04 11:56] sappo commented on #21
Just specified latest languagetool jar url and everything works just fine!

[2016-07-04 13:24] rhysd commented on #21
@sappo

Thank you for the report.  You mean v3.4?

[2016-07-04 13:27] sappo commented on #21
Yes

[2016-07-04 13:29] rhysd commented on #21
I'll upgrade the default version to v3.4 and will close this issue :+1:

[2016-07-04 13:35] #21 closed

[2016-07-05 15:46] sappo opened #26 "Problem: fixing error in line with multiple errors will shift selection"
You can see the behavior in the following two screenshots on the second line:

This one is before the fix:
![screenshot from 2016-07-05 17-38-09](https://cloud.githubusercontent.com/assets/493242/16590359/84f652a8-42d7-11e6-9f1f-d822d7041355.png)

And this one is after:
![screenshot from 2016-07-05 17-38-23](https://cloud.githubusercontent.com/assets/493242/16590358/84b5e272-42d7-11e6-9372-3af55fa

[2016-07-08 03:50] rhysd commented on #26
Could you provide a text which can reproduce this issue (shorter is better)?

[2016-07-08 06:20] sappo commented on #26
This is a line from the languagetool example with several error in one line:

[code]

[2016-07-08 07:15] rhysd commented on #26
Thank you. I'll try it.

[2016-09-21 09:00] sappo opened #27 "Problem: vim-grammarous cannot do background checks"
Hi,

this is something I like to help with. The lastest version of language-tool offers a REST-JSON API that can be queried simultaniously. Here are some issue I need help with to resolve:
- How do I send HTTP request with vimscript?
- How do I parse JSON with vimscript?
- How do I split a vim buffer in paragraphs or something similar (parallel buffer check)?
- How can I get the current paragraph

[2016-09-27 01:59] Yamakaky opened #28 "Use system languagetool"
Is it possible? For example, it's in archlinux's repos.

[2016-09-27 08:23] rhysd commented on #28
I don't know how languagetool is installed to system.  Is some command installed? And how can I try it?  Please give me more information.

[2016-09-27 15:17] tyru commented on #28
@Yamakaky maybe you should paste the output of `pacman -Ql <pkg>` to gist or anywhere?
I also don't have arch linux environment now though.

[2016-09-27 16:39] Yamakaky commented on #28
https://0bin.net/paste/doHK6NsWqq+93OYF#b8Sm6Qw-k2mKSfKiyTiB/1NP92zm91CAbbYj+pOC8eU

[2016-09-27 16:53] #28 closed

[2016-09-27 16:53] rhysd commented on #28
@Yamakaky Please update plugin and use `g:grammarous#languagetool_cmd`

[2016-09-27 17:03] Yamakaky commented on #28
cool!

[2016-10-09 20:30] DancingQuanta opened #30 "Does not work on Cygwin"
The call to execute LanguageTool in Cygwin fails unsurprisely as the Java on Windows is unable to recognise the posix path of the jarfile given to it.
A fix involves passing the posix path through cygpath command then to Java.
I does not have any vimscript experience, only Python so I may not be able to implement a fix any time soon.

[2016-10-10 15:59] rhysd commented on #30
Unfortunately, I don't (and won't) use Cygwin.  So I can't reproduce it.  If you describe the detailed behavior you want,  I may be able to implement it.

[2016-12-04 17:47] fszymanski opened #31 "Missing function: grammarous#close_info_window"
I get this error when using `<Plug>(grammarous-close-info-window)`:
[code]

[2016-12-06 09:47] rhysd commented on #31
Did you load this plugin twice? Let me know reproducable steps.

[2016-12-06 09:50] rhysd commented on #31
There is a little reason to lock `g:grammarous#root`. So I stopped locking it. Could you update this plugin and try the latest?

[2016-12-06 10:54] fszymanski commented on #31
I use [dein.vim](https://github.com/Shougo/dein.vim). The plugin is loaded only once.
My mapping: `nmap <Leader>gc <Plug>(grammarous-close-info-window)`.
1) I write `hello, World!`.
2) Then execute `:GrammarousCheck`
3) The info window opens.
4) I press `<Leader>gc` (to close it) and i get this error now:
[code]
The problem is that this function (grammarous#close_info_window) does not exist.

[2016-12-06 17:32] rhysd commented on #31
@fszymanski Thank you for the detail. I'll check it.

[2016-12-06 20:44] rhysd commented on #31
@fszymanski I fixed it in 78f7fcb. Could you try the latest?

[2016-12-06 21:02] fszymanski commented on #31
Works great. Thanks.

[2016-12-06 21:26] #31 closed

[2016-12-19 12:29] DancingQuanta commented on #30
Sorry for the late reply.
I am using cygwin on windows which means that I am using Windows native Java runtime.
Windows Java only understands Windows path like this `C:/path-to-text-file.txt` while Cygwin use different path scheme like this `cygdrive/c/path-to-file.txt`.
Cygwin have a helpful program called `cygpath` that converts between Cygwin and Windows paths.
Here is my shell script that call

[2017-01-01 17:55] ingber commented on #30
Unfortunately, I don't (and won't) use Java.  Any chance of having a fork without Java?  I'd like to use LT in Cygwin Vim.

Thanks for the Desktop Chrome Extension and for the Android speller.

[2017-01-02 08:24] DancingQuanta commented on #30
LanguageTool is built using Java unfortunately.

[2017-01-02 15:30] rhysd commented on #30
@ingber

As @DancingQuanta said, LanguageTool is built with Java. And this plugin itself doesn't use Java. You should comment it on LanguageTool ML.

[2017-01-02 15:33] rhysd commented on #30
@DancingQuanta Sorry for late response. Thank you for detailed information about Cygwin. Based on your comment, I'll try to add converting paths. As previous comment, I don't have cygwin environment. So please check it works after I finish the fix.

[2017-01-02 16:38] rhysd commented on #30
@DancingQuanta

I tried to fix this based on your information at 33f9b3a. Could you try the latest?

[2017-02-11 15:39] rhysd commented on #30
This should be fixed in 33f9b3a and 6057588. Thank you for reporting and fix.

[2017-02-11 15:39] #30 closed

[2017-02-11 15:40] rhysd commented on #27
Now vim-grammarous uses Vim8's job feature. It enables asynchronous check in background. Please try the latest.

[2017-02-11 15:40] #27 closed

[2017-02-12 10:23] sappo commented on #27
@rhysd that's great! Are there any incompatibilities with your plugins that you discovered using vim8. I.e. neovim, etc.

[2017-02-12 10:28] rhysd commented on #27
Currently I'm not seeing any regression yet. vim-grammarous only supports Vim8 currently. So in Neovim it still blocks while running a checker.

[2017-02-12 10:30] sappo commented on #27
Sorry, neovim is wrong. I meant neobundle, clever-f, etc

[2017-02-12 10:46] rhysd commented on #27
I'm using neobundle, clever-f,... and it looks working well together 👍

[2017-02-23 12:19] sappo opened #33 "Problem: vim-grammarous no longer works on 7.4.x"
When I run vim-grammarous on vim 7.4.x it starts with the following message:
[code]
and after spell checking finished it comes back with the following error:
[code]

[2017-02-23 13:48] rhysd commented on #33
thank you for report.

hmm... early job implementation in Vim7.4 may be not available. I didn't confirm that. 7.4 might fallback into blocking command execution.

[2017-02-23 23:08] #33 closed

[2017-02-24 00:03] rhysd commented on #33
It seems that 8.0.27 is required. I fixed it in 74a88d2

[2017-02-24 05:54] sappo commented on #33
Thanks

Am 24.02.2017 1:03 vorm. schrieb "Linda_pp" <notifications@github.com>:

It seems that 8.0.27 is required. I fixed it in 74a88d2
<https://github.com/rhysd/vim-grammarous/commit/74a88d233056ac63ef65b3dd6766494ec33e6f2e>

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub
<https://github.com/rhysd/vim-grammarous/issues/33#issuecomment-28

[2017-02-27 08:45] HarishVangala opened #34 "Navigation within buffer itself (quickfix used as just an info window)"
First of all, this is a simple yet powerful tool. A must add-on for writers, for its amazing use.

I am annoyed at only one issue: I am not able to comfortably navigate among errors, it involves multiple steps such as moving to quickfix window and then pressing `n` or `p`  and then again move to quickfix window and so on.

This feels uncomfortable because in the default `:set spell` utility itself

[2017-02-27 09:14] rhysd commented on #34
Did you try custom mappings?

https://github.com/rhysd/vim-grammarous#plug-mappings-to-execute-actions-anywhere

I guess what you want is:

[code]

In above example, you can jump between errors with `<C-g><C-n>` and `<C-g><C-p>`. If you want to avoid defining global keymaps, please refer below document.

https://github.com/rhysd/vim-grammarous#i-want-to-use-above-plug-mappings-only-after-checking

[2017-02-28 02:46] HarishVangala commented on #34
I think that's a good solution.

Thanks a lot!
Harish V.

[2017-02-28 03:34] #34 closed

[2017-02-28 04:36] HarishVangala opened #35 "How to enable spell-check with Grammarous by default?"
I find spell-check disabled by default. Plus, all that I find in documentation is this:
[how-do-i-use-this-plugin-with-vims-spelllang](https://github.com/rhysd/vim-grammarous#how-do-i-use-this-plugin-with-vims-spelllang)
But this looks like an option for the spell check which should first be enabled.

How to enable spell check by default?

[2017-02-28 06:33] rhysd commented on #35
Navigation can't consider Vim's spell check because plugin can't obtain the place of spell error detected by Vim's spell check. I guess LanguageTool has some spell check rules. Please try to use them instead of Vim's spell check.

[2017-02-28 07:32] HarishVangala commented on #35
Oh, I got it. Can you also answer the remaining two questions?

1. How can I distinguish between a spell-error and a grammar-error? Can I change the color?
2. Can I have the quick-fix window open all the time? It is a bit annoying that the window pops and closes by itself.

[2017-04-02 16:57] fszymanski opened #36 "Unknown function: vital#grammarous#new"
I get this error after the vital modules update:
[code]

[2017-04-05 12:46] rck commented on #36
Same for me (+ lots of other errors following). For now I switched back to 74a88d233056a (currently HEAD^) which fixed the issue. I use the standard vim shipped in current Debian/testing

[2017-04-06 15:52] rhysd commented on #36
ah, sorry I had mistaken...

[2017-04-06 15:54] #36 closed

[2017-04-06 15:54] rhysd commented on #36
It should be fixed now. I'm sorry for inconvenience...

[2017-05-06 02:51] dpc opened #38 "Fails with `fish` being used a default shell."

[2017-05-06 03:51] rhysd commented on #38
I'm not using fish so I don't know how to fix. PR is welcome

[2017-05-16 04:38] jkunlin opened #39 "No information window shown using neovim"
After using ":GrammarousCheck" command, it highlights the errors.
But there is not information window when I move cursor on the locations.

[2017-05-19 11:40] rhysd commented on #39
Let me confirm one thing. After errors are highlighted, does moving cursor to the highlighted area open information window?

[2017-05-20 02:09] jkunlin commented on #39
Sometimes It will and sometimes will not.

For example, if I select one line from head to tail in visual mode, and run ":GrammarousCheck", then moving cursor to the highlighted area doesn't open information window.
But when I select this line from tail to head, and run the command again, the information window will be shown.

[2017-05-20 13:14] n3f4s opened #40 "add support for markup language"
It would be nice to have support for mark-up language like _latex_ or _markdown_.
Using _grammarous_ with those languages raise a lot of error due to the tag and automatic styling (for _latex_ mostly because the _latex_ compiler handle a lot of style issues).

Furthermore, having things like piece of code in the text can make the usage of _grammarous_ less pleasant due to number of error raised. S

[2017-06-17 15:59] wagglefoot opened #41 "vim-grammarous: Grammar check was failed with exit status 1"
Hi there, I am getting the following error message when after I follow all the instructions in installing grammarous:

`vim-grammarous: Grammar check was failed with exit status 1`

It has installed `LanguageTool` in the right place, and I installed the package using `Vundle`. The excerpt from my `.vimrc` is as so:

`Plugin 'rhysd/vim-grammarous'` -- perhaps that is not correct?

Any insights woul

[2017-06-17 16:35] rhysd commented on #41
Could you show the entire error message? Taking a screenshot of the error would also be great.

[2017-06-17 16:43] wagglefoot commented on #41
![screenshot from 2017-06-17 17-39-34](https://user-images.githubusercontent.com/5817673/27254647-780966ac-5384-11e7-95c6-e46048a47903.png)

[2017-06-17 16:54] rhysd commented on #41
Could you try following? We need to clarify the command failure is an error of vim-grammarous or LanguageTools itself because of no stderr output.

[code]

1. `cd` to the vim-grammarous repo
2. Copy above diff and write it to `patch.diff` file
3. `git apply patch.diff`
4. Reproduce the error
5. It should output `Cmd: ...` to `:message` area. What did it say?
6. And try the command from your shell

[2017-06-17 17:14] wagglefoot commented on #41
Sorry, I am probably being a bit stupid here, so you're going to have to be super explicit.

Having cloned `vim-grammarous` and then `cd` there, there are no `a` or `b` dirs (this is where you do a face-palm no doubt - sorry). Nor does `diff` have a `--git` option (do you mean `git diff`).

[2017-06-17 17:42] rhysd commented on #41
You're using Vundle. So I think vim-grammarous was already cloned into somewhere in your filesystem (`~/.vim/bundle/vim-grammarous`?) by Vundle. You don't need to newly clone repo.

Please copy diff in above comment (or [here](https://gist.githubusercontent.com/rhysd/f496a5b1fad2c04f41711bced3202884/raw/819d69ae2d97f6cb36a6d6f67ef965daa033771d/diff.patch). Then copy the diff as file `patch.diff` a

[2017-06-18 22:08] wagglefoot commented on #41
Yupp the plugin lives here:

`~/.vim/bundle/vim-grammarous`

The returned error after applying the patch is:

[code]

[2017-06-19 03:36] rhysd commented on #41
Your repo may not be the latest. At least in my repo, `git apply` did not raise the error. If your repo is currently not the latest, please ensure that this problem occurs also with the latest.

Anyway, I think adding one line directly is easier. Please open `autoload/grammarous.vim` and find line ` if s:job_is_available`. Just before the line, please add `echomsg 'Command: ' . cmd` like above dif

[2017-06-22 05:49] XVilka opened #42 "Support for vim-plug"
Mostly instructions though.

[2017-06-22 06:35] rhysd commented on #42
What does 'support for vim-plug' actually mean?

1. There is a problem using vim-grammarous with vim-plug
2. Want an instruction to use vim-grammarous with vim-plug

If 1., please describe the detail.

If 2., to my understanding, vim-grammarous can be installed with vim-plug like other normal plugins. I feel vim-plug official instruction is enough to install vim-grammarous and no need to add speci

[2017-06-23 03:00] rhysd commented on #40
Yeah, it must be nice to support markdown or latex as you said. However, there is some problem to do that.

At first, it's comparably easy to strip markdown into plain text. There is already some tools to do and I can use markdown parser via script language interface like `if_python`.

The main problem is that the position (line, column, offset) of grammatical error is not correct after stripping

[2017-06-23 10:07] n3f4s commented on #40
I understand that it's hard to support and that's why I initially made a request in ``LanguageTool``. They can do the stripping/conversion and return the right position for the errors.

A solution might be to simply replace the "markup" by space/newlines and disable the formatting (spaces, newlines, ...) error of ``LanguageTool``. Most of the markup language deal with formatting themselves. It wou

[2017-06-23 12:21] videda opened #43 "vim stalls on simple pattern"
When executing `:GrammrousCheck` in vim on a file containing the following pattern

[code]

that is a line with a space at the end and two subsequent new lines, then after
I receive the report by grammarous (e.g. `Detected 3 grammatical error`), vim
stalls using 100% CPU. I can only stop it with Ctrl-C.

[2017-06-30 19:48] befedo commented on #39
Got the same issue. While I now know that selecting from tail to head is a little workaround.

[2017-07-02 14:04] rhysd commented on #39
I noticed that this is current expected behavior. To see the first error, we need to jump the cursor to first error position.

However, I agree that showing information window automatically is also useful. I think adding a new variable to control the behavior is a good way to do that.

[2017-07-02 14:15] rhysd commented on #39
I implemented the feature in f02ce8e. Please try the latest with below config:

[code]

Default value of the variable is `0` because of compatibility.

[2017-07-02 14:33] #43 closed

[2017-07-02 14:33] rhysd commented on #43
I addressed this issue in d117cd1. Thank you for catching this!

[2017-07-19 12:19] JackeJR commented on #41
Just to chime in. I had the same error. For me, it boils down to LanguageTools using another version of Java (which was quite old) present in my path. Rearranging the precedence of paths in my PATH to make sure the latest version is ahead fixed the issue.

[2017-07-20 13:28] rhysd commented on #41
@JackeJR Thank you for the info. Which version Java did solve the problem?

[2017-07-25 01:30] JackeJR commented on #41
The one I used was Java 8 131. Only Java 8 is supported.

https://github.com/languagetool-org/languagetool/blob/master/languagetool-standalone/README.md

[2017-07-25 02:06] rhysd commented on #41
Oh, I see. As described in README, Java8+ is required. Thank you for your information.

[2017-07-25 02:06] #41 closed

[2017-08-08 03:01] ggeorgakoudis opened #44 "Git commit fails using neovim"
Git commit fails when vim-grammarous is loaded, it's fine otherwise. The version of neovim is v0.2.0 and I'm running on a mac: Darwin mac 16.6.0 Darwin Kernel Version 16.6.0: Fri Apr 14 16:21:16 PDT 2017; root:xnu-3789.60.24~6/RELEASE_X86_64 x86_64.

The error is:
[code]

Doing ```echo $?``` immediately after exiting vim shows a return value of 1

[2017-08-08 03:05] rhysd commented on #44
Thank you for reporting this. I haven't seen this ever.

Could you please describe more defails what 'fails' means? What is a timing of the error? Where the error message was output? (to stdout? or message area in nvim?) And please tell me your config of vim-grammarous. I need to reproduce to fix the error.

[2017-08-09 18:14] ggeorgakoudis commented on #44
When you do `git commit` in a repo and without providing a message using -m, the editor of choice opens up to write your commit message. My editor is neovim and I'm using the vim-grammarous plugin, which is great by the way. After I write my commit message and save and quit in vim (:wq), then this error message appears on the command line. Doing an `echo $?` shows a return value of 1, which signif

[2017-08-09 21:52] rhysd commented on #44
Thank you for details. Do you write any config for vim-grammarous in your init.vim?

[2017-08-17 16:22] ggeorgakoudis commented on #44
No, I don't have any configuration for vim-grammarous in the init.vim

[2017-08-22 17:50] copyme commented on #40
I would love to use your plugin with LaTeX documents. TexStudio supports LanguageTool (not in a perfect way but still it is useful). Maybe reading their code would give you some clues how to implement something similar.

[2017-08-24 15:46] quinoa42 opened #46 "The [grammarous] window cause airline's denite extension to crash"
When writing #45 , I found that if the airline's denite extension is enabled, whenever the [grammarous] is closed before calling `denite`, airline will crash with the message output below when one candidate is opened and vim jumped to a position with grammar error.

## minimal init.nvim:
[code]

## way to produce
start neovim with the minimal init.nvim, type the following text in insert mode:
[cod

[2017-08-24 16:14] rhysd commented on #46
Hmm... This issue is related to 3 plugins; vim-grammarous, denite.vim and vim-airline. I want to clarify which plugin causes this.

At first glance at the error log, it seems that this is a mismatch between denite.vim and vim-airline. Are both the latest?

CC: @Shougo

[2017-08-25 00:32] quinoa42 commented on #46
Yes, all the plugins have been updated to the latest before I tested.

[2017-08-25 01:35] Shougo commented on #46
@quinoa42 Please upload the reproduce ways from Vim starting.

This is hard to reproduce for me.  I don't know about vim-grammarous.

[2017-08-25 01:42] Shougo commented on #46
https://github.com/vim-airline/vim-airline/blob/master/autoload/airline/extensions/denite.vim#L39

[code]

?

[2017-08-25 01:58] rhysd commented on #46
denite.vim integration was merged at #45. Usage is [in README](https://github.com/rhysd/vim-grammarous#grammarous-denitenvim-source).

Although I'm not sure how to repro, the usage is following:

1. Open some text which contains a grammatical error (i.e. `This is a a text.`)
2. Execute `:GrammarousCheck`
3. Execute `:Denite grammarous`

[2017-08-25 02:00] quinoa42 commented on #46
@Shougo @rhysd I just updated the detailed way to reproduce. Thanks for quick response.

[2017-08-25 02:02] Shougo commented on #46
OK.  It is reproduced.

[2017-08-25 02:03] Shougo commented on #46
It seems vim-airline error.  I cannot fix it.

[2017-08-25 02:07] Shougo commented on #46
`airline#extensions#denite#check_denite_mode()` is called empty filetype buffer.
I don't know why though.
It should check buffer `filetype` like this.

[code]

[2017-08-25 02:08] Shougo commented on #46
@quinoa42 You should create the issue for vim-airline.

[2017-08-25 07:04] Shougo commented on #46
It is fixed in vim-airline.

[2017-08-25 07:10] rhysd commented on #46
@Shougo Thank you for your effort. @quinoa42, could you check that this issue was fixed?

[2017-08-25 07:45] quinoa42 commented on #46
After the fixing I got other [errors](https://github.com/vim-airline/vim-airline/issues/1540#issuecomment-324847348), looks like the filetype is `denite` somehow. Is this due to async features?

[2017-08-25 08:25] Shougo commented on #46
No.  It is empty filetype.

No.  vim-airline calls denite functions in non denite buffer.
I don't know why.

[2017-08-25 08:45] quinoa42 commented on #46
But if my understanding is correct, based on the code [here](https://github.com/vim-airline/vim-airline/commit/5345c8fafa0821453b86018d0472b124c068494f#diff-9948f8cbde21f2034a2ff3b8ccee31deR14) , if the filetype is empty then the called function should stop with the returned value '' right?

[2017-08-25 08:48] Shougo commented on #46
`airline#extensions#denite#check_denite_mode()` is stopped well.

But `denite#get_status_sources()` call is exists.
https://github.com/vim-airline/vim-airline/blob/master/autoload/airline/extensions/denite.vim#L30

[2017-08-25 12:13] quinoa42 commented on #46
@Shougo But in the call to `function! airline#extensions#denite#apply(...)`, filetype is also tested before calling denite's functions. I have no idea why this happens.

@rhysd Is it possible to add a switch that can disable all the invocations of `[grammarous]` window completely? I guess it can prevent that strange error. If the error does disappear, maybe I could try to implement the actions suc

[2017-08-25 16:41] rhysd commented on #46
What does 'all the invocations of `[grammarous]` window' mean? Anyway, I don't think it's good idea to add a workaround before its root cause is revealed. I don't want to add additional complexity only for combination of specific plugins unless it's the only way to solve the problem

[2017-08-27 08:07] Shougo commented on #46
I have fixed the errors in denite.nvim.
Please update.

[2017-08-31 07:20] quinoa42 commented on #46
@rhysd Okay, nevermind.
@Shougo
Sorry I was travelling these days. I just tested under the newest version and found that no blocking error happened. Although if the text are typed in the `no name` buffer without saving, one non-blocking error would happen:
[code]
Otherwise everything works fine. I'll close this issue.

[2017-08-31 07:21] #46 closed

[2017-08-31 07:26] Shougo commented on #46
This is Vim/neovim feature.
I think you have used `-split=no`.

[2017-09-04 22:56] stefanthorpe opened #47 "Python comments ignored"
If I run GrammarCheck --comment-only against the following python example:

[code]

Both mistakes are ignored. They are picked up if I remove '--comment-only' but so is all the code.

I get the same result if I use in .vimrc:
[code]

[2017-09-05 04:33] rhysd commented on #47
For the 'multi line commnent', it's not a comment actually. It's multi-line string literal. So Vim cannot detect it as comment from its syntax only. It is an expected behavior.

[2017-09-07 10:13] DancingQuanta opened #48 "Syntastic integration"
Would it be possible to use [Syntastic](https://github.com/vim-syntastic/syntastic) to navigate errors?

[2017-09-07 10:25] rhysd commented on #48
I'm not syntastic user so I don't know this plugin is suitable for it and how to integrate. It's welcome to review PR for it.

[2017-09-19 12:27] junhyeokahn opened #49 "Repeated white space"
Hi, First of all I would really appreciate your awesome plugin!

I have two concerns.
1. I used to make double space when I start a sentence and grammarous check this a typo as below figure. I disable white space rule in my vimrc but still have it
<img width="36" alt="screen shot 2017-09-19 at 7 26 20 am" src="https://user-images.githubusercontent.com/23005104/30592331-edc4b74a-9d0b-11e7-9db7-7f39

[2017-10-22 15:05] rhysd commented on #49
What is warned are depending on config of LanguageTools. So please look into rules and disable the rule with `g:grammarous#disabled_rules`.

https://github.com/rhysd/vim-grammarous#some-rules-annoy-me

[2017-10-22 15:06] rhysd commented on #42
Closing this as no response

[2017-10-22 15:06] #42 closed

[2017-10-22 15:07] rhysd commented on #49
For TeX, I think https://github.com/rhysd/vim-grammarous/issues/40 is the same topic. Please see the issue discussion.

[2017-10-22 15:07] #49 closed

[2017-11-05 20:23] DerWeh opened #50 "support for pylanguagetool?"
I wanted to ask if it is also possible to support `pylanguagetool`? I find it very bothersome to get `LanguageTool` running on Debian, as it is difficult to get Java8, and using a legacy version of the `LanguageTool` is a bit cumbersome even if it's doable.
`pylanguagetool` on the other hand is just one `pip`-command away, as python is on every Linux by default.

Furthermore `pylanguagetool` seems

[2017-11-05 20:28] DerWeh opened #51 "handle syntax/markup"
I use the plug-in mainly for Latex, and it clashes quite a lot with latex `markup' syntax.

Is there a way to better handle it? Possible solutions coming to my mind are
- giving regular expressions what to ignore (very bothersome to configure)
- using vim's syntax groups to ignore things
- using external tools like `detex` (for Latex) as helper.

[2017-11-06 06:57] rhysd commented on #50
Why Debian has difficulty for getting Java8? Doesn't openjdk8 work?

Supporting another tool makes this app much more complicated. So I don't want to do that until I understand it has some great advantage.

[2017-11-06 07:02] rhysd commented on #51
I'm closing this because of duplicate of #40. Please discuss about this in #40.

I guess

is most interesting and may be good idea. `detex` is not available I think because we need sourcemap between latex code and syntax-removed plain text to locate the error's position.

[2017-11-06 07:02] #51 closed

[2017-11-06 11:17] DerWeh commented on #50
I understand that additional support adds complication, the question was in the direction how hard it would be, as the output seems very similar.

Thanks for the `openjdk8` tip, somehow I didn't see that there is a back-port for `jessi`. I will try it as soon as I have time. Still, python would be more enjoyable for me as I don't need root rights, I can just do `pip install --user pylanguagetool`.

[2017-11-06 11:17] #50 closed

[2017-11-06 15:43] rhysd commented on #50
Thank you for the info. If output/input is very similar to LanguageTool, I may consider to integrate it. Anyway I need to investigate.

[2017-11-06 17:57] DerWeh commented on #40
You already offer the possibility to ignore everything but comments and I think I have read that you identify comments by the *highlight group*. If that is the case would it be possible to do the reverse way and specify highlight groups we want to ignore?
For Latex, I use e.g. use [vimtex](https://github.com/lervag/vimtex) which defines (think a lot is already provided by vim by default) for every

[2017-11-23 23:53] somini commented on #7
One solution to this is to spawn the HTTP server in the background and send requests to it. The first request takes as long as a regular execution, but the following are 10x faster.

See:
https://github.com/neomake/neomake/issues/1728
https://github.com/neomake/neomake/pull/1766

[2017-11-23 23:55] somini commented on #48
I'm proposing a PR for neomake for this usecase.
https://github.com/neomake/neomake/pull/1766
NeoMake is a Syntastic clone for neovim.

It's not a complete replacement, since this plugin presents all the information languagetool produces, while neomake it more limited.

[2017-11-24 00:26] DancingQuanta commented on #48
I have forgotten to update. I have found that syntastic already have a linter for LanguageTool, which is a python executable called [language-check](https://pypi.python.org/pypi/language-check). `language-check` is a wrapper around LanguageTool and so produces differently formatted output.
Neomake should use this `language-check` instead.

[2017-11-24 05:36] rhysd commented on #7
vim-grammarous is already using job features on both Vim8 and Neovim. So I think I should close this issue.

@somin It would also nice. I'll make another issue for it.

[2017-11-24 05:36] #7 closed

[2017-11-24 05:41] rhysd opened #52 "LanguageTools server"
LanguageTools has a server implementation. We can spawn server once and send requests to it. It would be much faster than executing one command for each `:GrammarousCheck`.

https://github.com/rhysd/vim-grammarous/issues/7#issuecomment-346710511

[2017-11-29 01:51] rhysd commented on #48
Syntastic already supports languagetools. So I think we can close this issue.

[2017-11-29 01:51] #48 closed

[2017-12-19 13:37] languitar commented on #38
There are a lot of things that break if fish is used as the shell inside vim because it is not sh-compliant. I would recommend to configure vim to use bash as its internal shell using

[code]

You are still free to use fish for neovim's terminal emulator etc.

[2017-12-20 13:07] languitar opened #53 "Error message when quitting the check window with"
When I close the checking window with `q`, I always see the following error message:

[code]

[2017-12-21 02:28] rhysd commented on #53
Could you provide more information about your environment to reproduce problem? At least it does not reproduce in my local.

- Vim version (i.e. 7.4.x or 8.0.x or Neovim 2.x or ...)
- Your OS

[2017-12-21 02:52] rhysd commented on #53
I improved to close preview window. Could you try out the latest?

[2017-12-21 09:11] languitar commented on #53
This is gone with the update. :)  I am running neovim 0.2.2 on Linux.

[2017-12-21 09:42] languitar commented on #40
For LaTeX, simply ignoring all commands (from highlight groups) could become a real issue. For instance, `\emph{this word}` is important for the sentence while with `\footnote{some footnote}` the contained text should not be parsed at the position at all. Finally, with commands like `\cite{Foo}`, the contained arguments should probably ignored at all. So simply using highlight groups will most lik

[2017-12-21 09:44] rhysd commented on #53
Yes. Thank you for confirming. I’m closing this.

[2017-12-21 09:44] #53 closed

[2017-12-21 09:44] languitar commented on #53
Is there any way to actually return to the correct buffer afterwards?

[2017-12-21 10:33] rhysd commented on #53
Currently there is no way to do that. 'quit' action only `:quit` the window with cleanup.

[2017-12-21 10:35] rhysd commented on #38
@languitar's advice is reasonable. I also recommend to set 'shell' option.

I'm closing this because there is no response from issue author.

[2017-12-21 10:35] #38 closed

[2017-12-21 11:43] languitar commented on #53
I think I once had a discussion on how to achieve this reliably in vimtex in this issue: https://github.com/lervag/vimtex/issues/637 Maybe you could adapt the solution there?

[2017-12-21 12:34] rhysd commented on #53
Actually I can implement it easily. Not understanding it's practically useful or not (because I'm satisfied with current behavior).

[2017-12-21 13:32] languitar commented on #53
For my workflow I always have several windows open and of the cursor jumps back to a different one after closing the checking window, I actually have to do something to get it back to the window I was actually working in. So I'd appreciate a solution for that ;-)

[2017-12-21 22:06] rhysd commented on #53
ok, I'll change the behavior of quit action.

[2017-12-21 22:08] rhysd commented on #53
Please update to the latest and try out.

[2017-12-22 11:24] languitar commented on #53
Seems to work well. Thanks!

[2017-12-30 02:53] drandre2014 opened #54 "Upgrade to LanguageTools 3.8"
3.8 is the latest version, as of now.

[2017-12-31 12:52] #54 closed

[2018-01-02 20:30] mohitleo9 opened #55 "Grammar check in Strings"
Hey,
Is there a way to force the checker to validate only 'strings' and 'comments' for grammar.

[2018-01-02 20:35] mohitleo9 commented on #55
Actually took a quick look, could https://github.com/rhysd/vim-grammarous/blob/8fbcc8e61409f93f215fe627b231e4550b967e18/autoload/grammarous.vim#L135-L138 be generalized to pass in any (or an array of) syntax group and provide predefined settings from strings and comments?

[2018-01-10 10:49] fehrnah opened #56 "Error when no replacement suggested"
Using latest Grammarous version
Languagetool version: 3.9
Language: French

When there is no replacement for a spelling error, Grammarous uses 'replacement' as the replacement string.
I found the bug on french text, but I think it may be present in other languages

[2018-01-10 11:06] rhysd commented on #56
Thank you for reporting. Because I haven’t seen the error which does not have a replacement, I want to start from reproducing. Could you provide a sentence which can reproduce this issue?

[2018-01-10 13:14] fehrnah commented on #56
Any french sentence with a spelling mistake triggers the error.

For example:

It looks like Languagetool disabled spelling suggestion due to it's slowness:
https://forum.languagetool.org/t/no-suggestions-for-typos-in-french-dictionary/732

I don't know if it is possible to enable it or what speed difference it would make.

[2018-01-11 01:27] rhysd commented on #56
Thank you. I'll try out.

[2018-01-11 07:11] rhysd commented on #56
I tried the text, but I could not see any problem:

<img width="598" alt="2018-01-11 16 02 23" src="https://user-images.githubusercontent.com/823277/34812392-d05abcc2-f6e8-11e7-9892-7098c90f04d5.png">

could you provide the output from following command?:

[code]

Please ensure that your local vim-grammarous is the latest at first.

And could you give me more information about your config?

- Lang

[2018-01-13 12:33] fehrnah commented on #56
OS: Arch linux
vim: neovim 0.2.3

This is exactly the error I got. As you can see the correction provided is "replacement"; but this is not a valid correction (replacement is not even a valid french word).
"replacement" is the label of the suggestions in the XML returned by languagetool.

Using the system languagetool(3.9):

`<?xml version="1.0" encoding="UTF-8"?><matches software="LanguageTool" v

[2018-01-15 01:19] rhysd commented on #56
Oh, I got it. I don't know French so I could not notice the correction was wrong. OK, I now can reproduce this issue. Thank you.

[2018-01-15 04:52] #56 closed

[2018-01-15 04:52] rhysd commented on #56
@fehrnah I fixed this issue at 04e3564. Please try out the latest.

[2018-01-24 22:10] rhysd commented on #55
Yeah, it can be extended as you're saying. I label this as enhancement.

[2018-03-05 16:04] FabianGeiselhart opened #60 "Use of location-list"
I think it would be a good idea to put the Error (not the suggested fix) into the location-list.

This would make moving between errors via `:lNext` and `:lPrevious`

[2018-03-14 07:24] evmorov opened #61 "Wrong highlight in Russian language"
Wrong highlight in Russian language

**Steps**:

1. Write

[code]

2. Execute

[code]

**Actual result**:

`аешь` is highlighted that is wrong. But the correction word in Preview window is "нормально" that is right.

**Expected result**:

`нрмально` is highlighted as LanguageTool itself suggests

[2018-03-24 13:30] binaryplease commented on #40
Hello,
is this feature still planned eventually/already in progress?

@languitar's commet looks like a viable workaround. Could this not be integrated into the plugin?

[2018-03-24 14:48] binaryplease commented on #40
Sorry for double-posting, but here is a possible workaround.
If I understand correctly the problem with stripping latex commands is that it changes the length of the code. Also, you want to treat the commands differently:

- In commands like ```\section{My section name}``` you want "My section name" to be checked.
- In commands like ```\cite{MyCitation}``` you do *not* want "MyCitation" to be chec

[2018-03-24 14:58] languitar commented on #40
Just for the reference, this is my custom script: https://gist.github.com/languitar/2037fccd8520586639aa9f1227bbf8e6 It handles a few more cases.

[2018-04-05 15:09] phcerdan opened #62 "Clarification: what is the information window?"
I am having some issues navigating through errors. And just wanted to ask, what is exactly the information window? Is it a buffer, a location-list, a quickfix-list?
How do I open it from elsewhere?
Thanks

[2018-04-06 01:59] rhysd commented on #62
I'm sorry for confusion. It's a window opened when executing `:GrammarousCheck` named `[Grammarous]`.

![2018-04-06 11 01 47](https://user-images.githubusercontent.com/823277/38400135-814e40e8-3989-11e8-9720-2e9a24ffc3a4.png)

[2018-04-06 10:32] rhysd commented on #61
Thank you for the report. I think offset in output from LanguageTool is a byte offset and we need to consider the conversion between byte size and character size. My mother language is Japanese and it has also the same bug, I think. I'll try to reproduce but it may be hard to support.

[2018-04-06 10:33] rhysd commented on #60
It would be a good idea. I think I need to try

[2018-04-07 20:29] real-or-random commented on #40
This is related:
 https://github.com/dpelle/vim-LanguageTool/pull/4
My texlive installation includes the "detex" tool.

[2018-04-08 15:00] #60 closed

[2018-04-08 15:02] rhysd commented on #60
I implemented this. Please update to the latest and set `g:grammarous#use_location_list` to `1` in your vimrc

[2018-04-09 13:37] FabianGeiselhart commented on #60
Nice!

[2018-04-13 09:30] thomaskisler opened #63 "Grammarous window disappears when fixing/ignoring error, etc."
When I do a :GrammarousCheck, the Grammarous window opens and shows me the first error. When I then e.g. press "f" to automatically fix it, it does, but the Grammarous window disappears. The only way to make it reappear is to find the next error and move the vim cursor "into it". The same holds true for all other Grammarous actions "r", "R", etc.

Am I doing something wrong? I would expect the win

[2018-04-13 12:39] rhysd commented on #63
I think you can map `<Plug>(grammarous-open-info-window)` to open the window or map `<Plug>(grammarous-move-to-next-error)` to move to the next error. Is this answer for you?

[2018-04-14 20:08] oblitum opened #64 "E461: Illegal variable name: s:grammarous#root"
Commit a8d672e is leading to this:

[code]

[2018-04-15 01:32] oblitum commented on #64
All right, thanks.

[2018-04-15 08:37] pdoak opened #65 "Passive voice not detected"
Grammarous does not seem to detect the passive voice. I have taken the following sentence from The [Language Tool website](https://community.languagetool.org/rule/index) which is in the passive voice:

Is it possible to highlight the use of the passive voice with Grammarous?

[2018-04-16 14:14] rhysd commented on #65
Please update to the latest and try following config. I confirmed `PASSIVE_VOICE` rule is checked.

[code]

[2018-04-16 14:47] pdoak commented on #65
That worked. Thank you.

[2018-04-16 14:47] #65 closed

[2018-04-16 17:39] copyme commented on #40
@real-or-random unfortunately, opendetex/detex does not work well with real life LaTeX documents. I would say that all the tools to convert (la)tex to text that I have checked offer very basic functionalities. Maybe pandoc at some point will be good enough but so far it has some problems too.

[2018-04-17 10:52] rhysd commented on #63
Looks good. Could you create a pull request to update doc?

[2018-05-07 03:37] skywind3000 opened #66 "Grammarous marks errors in the wrong buffer."
Grammarous will execute languagetool.jar in background. When result arrives, context may change, current document/window may be closed.

LaugnageTool always take a long time in analyzing texts, some times I start languagetool by `:GrammarousCheck` and before analyzing finish I switch to another split window, a few seconds later, the result arrives and Grammarous highlights error/warnings in the wr

[2018-06-19 18:43] nick-s-b opened #67 "Custom path for LanguageTool?"
Hi,

I really like `vim-grammarous` a lot! The one thing I don't like is that it uses downloads its own local version of LanguageTool. That's a problem because it's not managed by the distro's update system. If there's any kind of security issue, it won't be updated. It' also wasteful since no other program will find it.

Has anyone found a way to `ln` a system-wide version of LT so `vim-grammarou

[2018-06-21 14:17] rhysd commented on #67
[Yes.](https://github.com/rhysd/vim-grammarous#i-want-to-use-system-global-languagetool-command)

[2018-06-21 19:39] #67 closed

[2018-08-05 08:32] #63 closed

[2018-08-06 14:02] Tb8854 opened #70 "vim-grammarous: Grammar check failed with exit status 1:"
I have the same error when trying to use/install vim-grammarous as was listed [here](https://github.com/rhysd/vim-grammarous/issues/41) . However, I am running Java 8.181. I have removed the old versions of Java, but this has had no effect.

I have the following error when I run :PluginInstall in vim (using vundle to install vim-grammarous).

Languagetools is where it is supposed to be

[code]

An

[2018-09-04 09:55] mmaret commented on #41
Also got this error with Ubuntu 18.04 and java 10.

Adding the `echomsg` patch show the following error
`Exception in thread "main" java.lang.NoClassDefFoundError: javax/xml/bind/JAXBException`

According to this stackoverflow thread https://stackoverflow.com/questions/43574426/how-to-resolve-java-lang-noclassdeffounderror-javax-xml-bind-jaxbexception-in-j I quick fix it by modifying the cmd to

[2018-09-08 03:48] nabsiddiqui opened #71 "Get list of categories"
Is there a way to get the list of all the categories?

In addition, is it possible to enable all grammar checks to allow the user to choose what they want to fix?

[2018-12-21 13:50] skywind3000 opened #73 "Discard the result from GrammarousCheck if current buffer changed."
Reproduce:

1. run `:GrammarousCheck` in the current window (say window 1).

2. jump to another window (window 2), immediately before LanguageTool finish.

3. stay in window 2, and wait the background job finish.

`vim-grammarous` was started in window 1, and was expected to display highlights and underlines in window 1, but actually, it always display errors in the current window (window 2).

Is

[2018-12-29 21:40] Iambecomeroot commented on #40
Since we don't (yet) have tool to strip markdown with sourcemaps, would it be possible to open the plain text version in a split and leave it up to the user to find the error in the source? This wouldn't be a huge deal for markdown and would really help.

[2019-01-10 19:59] coxley commented on #71
I'd love this too. The plugin is powerful but I'm left wondering if I have all the rules/categories I need enabled or not out of the box

[2019-02-12 07:33] mingsu commented on #26
This is really annoy to me as well.

[2019-02-19 11:36] rhysd opened #74 "Use text property feature to follow the buffer changes"

[2019-03-27 00:50] m3gat0nn4ge opened #77 "Support n-gram data"
Hi,

I'd like to use the Google n-gram data but that requires passing the '--languagemodel' option, any chance we can get this option supported?

many thanks

http://wiki.languagetool.org/finding-errors-using-n-gram-data

[2019-04-17 11:47] Oliver-Chalkley opened #78 "Gammarous closes down if an action is taken"
I'm hoping that I'm not using Gammarous properly and so there is an easy fix to this. When I run `:GrammarousCheck` everything works fine. However when I move to a problem and fix it using the `f` command then it fixes it but the information window goes away and the highlighting goes. If I do `:GrammarousCheck` then it restarts from the beginning which is extremely annoying when editing a large do

[2019-04-26 15:02] Kaedo commented on #78
Hi Oliver,
i just had the same problem and got around it by mapping a key combination in order to automatically jump to the next/previous error, then the information window of grammarous shows up again.

I used this in my .vimrc:

[code]
This allows you to use Alt-n and Alt-p to move to the next and previous error.

Does this solve your problem?

Cheers
Martin

[2019-04-27 10:36] krishnakumarg1984 commented on #78
I think that perhaps a better solution to this problem is if the author can consider adding a regex to exclude  strip `\command[always optional args]{possibly optional arguments}` from the text before sending to `languagetool` for grammar checking

[2019-04-27 10:41] krishnakumarg1984 commented on #40
@rhysd there is finally a (platform-independent) solution for the problem that blocks you from implementing a markup parser - `[textidote](https://sylvainhalle.github.io/textidote/)`!

According to their official site,

[2019-04-27 12:25] copyme commented on #40
@krishnakumarg1984 thanks for the info about texttidote, it looks pretty interesting.

[2019-05-13 13:23] abers commented on #71
Same. Passive voice is not enabled by default so I have no idea what other rules/categories are currently can also be enabled! A list of what is active by default alongside a list of all available rules/categories would be much appreciated.

[2019-05-13 13:42] abers opened #79 "Enabling passive voice rule via category"
According to the README enabling the PUNCTUATION category will enable passive_voice, which doesn't work. According to the [LanguageTool website](https://community.languagetool.org/rule/show/PASSIVE_VOICE?lang=en&subId=5), passive voice is part of the STYLE category instead. However, even with -
`let g:grammarous#enabled_categories = {'*' : ['PUNCTUATION', 'STYLE']}`
the passive voice rule is still

[2019-05-30 20:14] fenuks opened #80 "Error with multiple spelllang set"
Vim's `spelllang` allows user to specify multiple languages, separated with commas.
With settings like:
[code]
`:GrammarousCheck` results in error:

[code]

[2019-06-11 14:05] BioinfoTongLI opened #81 "Take"
Hi, @rhysd,
thank you for this awesome plugin.
As you mentioned, you recommended to use spell checking of LanguageTool https://github.com/rhysd/vim-grammarous/issues/35#issuecomment-282955082

I'm wondering whether it's possible to take the "to ignore" terms in `~/.vim/spell` folder and merge with `en/hunspell/ignore.txt` in LanguageTool.

I asked one question on this forum as well.
https://forum.

[2019-07-18 13:50] kaihendry opened #82 "Docker image?"
Would be cool to try this out from a Docker image since I am not prepared to installed Java on my Archlinux system.

[2019-07-18 19:01] abers commented on #79
[code]

[2019-07-18 19:05] abers commented on #79
OK, turns out PASSIVE_VOICE is a special rule that cannot be enabled via category and always has to be specifically called. Therefore the following _should_ enable all categories and rules:

[code]

However, whilst this enables some additional rules - it doesn't enable them all.

[2019-07-30 16:31] mjsobrep opened #83 "Downloading the jar file appears to be blocking"
Great plugin. Thanks.

When I run the check the first time, it goes to download the jar file, which is fine. But that operation seems to be blocking. I can't do anything inside of vim. There is just the Downloading jar file from ... in the status bar. Once the download is done, everything is back to normal. This isn't a big deal on a fast internet connection, but on a slow one, this can take a whi

[2019-08-12 08:35] mikebarkmin commented on #77
I have create a simple bash script.
[code]
Put it in my bin folder and added
[code]
to my vim config.

I hope this helps.

[2020-01-28 23:07] llinfeng opened #84 "How to bring up the "Information Window" consistently?"
I have copied the following mappings from ReadMe, but they do not perform consistently
[code]

At times, when I dismiss the following buffer/QuickFix-Window for Grammarmous, it will never come back however I press `<C-n>` and `<C-p>`. In the meantime, the cursor does jump accurately, jumping across the reported errors.
![image](https://user-images.githubusercontent.com/5890407/73313125-5f03c980-41

[2020-01-29 22:57] llinfeng commented on #84
Given the `<c-n>` and `<c-p>` mappings to navigate the set of suggested typos, I find that entering Insert-mode when the cursor is within the range of the typo will _summon_ the Information Window.

[2020-02-06 10:19] simonweil opened #85 "Can this cool plugin integrate with Clap?"
Or how to integrate with Clap?
https://github.com/liuchengxu/vim-clap

[2020-02-11 14:25] TimDaub commented on #42
For posterity:

[code]

@rhysd lemme know if you want me to send a pr with this snippet in README.md.

[2020-02-16 01:57] Duan-JM commented on #83
Hi, I have the same issue too. I solved it by download it manually.

1. Download `LanguageTool-stable.zip` from [here](https://www.languagetool.org/download/).
2. unzip the `zip` file, then copy the whole unzipped file to `~/your/grammous-vim/root/misc/`
3. try `:GrammousCheck` again, everything will be fine.

PS: I don't know why the download in the vim is blocked, however, in safari is pretty we

[2020-02-17 12:30] cjber commented on #85
If you do not already use the location list for something else you could add  `let g:grammarous#use_location_list=1` then use `:Clap loclist` to invoke the list.

[2020-03-19 16:19] skywind3000 commented on #73
any update for this ？

[2020-03-31 12:24] matze-dd opened #86 "Display of suggestions from LanguageTool"
Hi,
thanks for this great plug-in!
When using it, I came across a very minor issue: LanguageTool returns in its XML reply a string with a collection of suggested replacements, separated by '#' marks.
Would it be possible to include these into the Vim message window? Currently, only the first suggestion seems to be displayed.

All the best,
Matthias

[2020-03-31 12:32] matze-dd commented on #40
[YaLafi](https://github.com/matze-dd/YaLafi#interface-to-vim) does filter LaTeX text, too.
This project is still in an early stage, however.

[2020-04-09 11:49] francozappa commented on #84
I had a similar issue and I guess that for the leader mappings you have to use `nmap` and not `nnoremap`

[2020-04-09 12:11] francozappa opened #88 "Different background colors for vim spellang and grammarous"
Hi,

Is there a way to set the background color of a grammarous errors? E.g., set grammarous background to dark orange and keep the red background for spellang?

[2020-04-10 05:53] matze-dd commented on #84
Off-topic:
If you use vim-grammarous with LaTeX as in your example, then [YaLafi](https://github.com/matze-dd/YaLafi) might be of interest. See [especially here](https://github.com/matze-dd/YaLafi#interface-to-vim).

[2020-04-11 02:31] llinfeng commented on #84
@matze-dd Thanks a lot for pointing to your repo! I have been looking for a parser/filter for LaTeX for a while :) One alternative workflow of spell/grammar checking is to pipe the parsed texts to the clipboard, and feed to the **webpages** of the other paid services. Shame on all those companies who do not provide an API portal for their paid customers.

Will definitely give `YaLafi` a try :)

[2020-04-11 18:02] matze-dd commented on #84
@llinfeng Thanks for the emojis! Hopefully, the filter is useful for you.
If all works right, it performs quite reasonable position mapping between LaTeX and plain text.
Unfortunately, its adaptation still requires some command-line usage and Bash scripts.

[2020-04-13 18:28] erroneousboat commented on #82
`let g:grammarous#languagetool_cmd = 'docker run -t --entrypoint java -v $HOME/.config/nvim/plugged/vim-grammarous/misc/LanguageTool-4.9:/LanguageTool -v /tmp:/tmp openjdk:8-jre-alpine -jar /LanguageTool/languagetool-commandline.jar $@`

Update the volume with the location of LanguageTool based on your pluginmanager. If someone knows how to pass in that automatically in your `.vimrc` / `init.vim`

[2020-04-19 13:45] frangkli opened #89 "Weird highlighting with LaTeX"
I just installed this plugin and tried it in my latex file. The grammar check works wonderfully but the underline and highlighting of mistakes seem to be off. The space before the word is highlighted and underlined while the last character of the word is not highlighted nor underlined.

Illustration: **_lore**m
Expected: **lorem**
(Bold means highlighted and underlined)

I was thinking this might

[2020-04-20 08:46] matze-dd commented on #89
I encounter a possibly related issue with German texts containing German "Umlauts" like 'Ä'.
It seems to me that there is a problem with UTF-8 encoded (or other non-ASCII) texts, since byte and character offsets may differ in this case.
If a line contains a non-ASCII character in the part before the spelling error, highlighting of the error is shifted.

[2020-04-21 08:42] FrankLA0203 commented on #89
Yeah that might be it because I had directional quotes (not " but double quotes with directions like what is rendered in latex with `` and '') which could have caused the problem.

[2020-05-04 09:33] matze-dd commented on #89
The alternative plugin [\[vim-LanguageTool\]](https://github.com/dpelle/vim-LanguageTool) does not exhibit this problem. However, you cannot continue editing while LanguageTool is running.
Interestingly, [\[ALE\]](https://github.com/dense-analysis/ale) that focuses on asynchronous checks and also has a LanguageTool interface, seems to know the same issue as vim-grammarous.

[2020-08-07 09:35] LeducH opened #90 "How to install this Plugin with vim plug"
I want to use this plug in. I use `vimplug` as a plugin manager

what is the command I have to add in my plugin block

[code]

[2020-08-12 03:29] drselump14 commented on #71
This plugin is only a wrapper of `languagetool` cli , the options for listing the categories/rules shoud be impletemented on `languagetool` cli itself. Unfortunately, there is no such option currently

[2020-09-19 16:40] jdhao opened #92 "error when spelllang language include cjk"
My setting for spelllang:

[code]

If add the following setting:

[code]

When I run `:GrammarousCheck`, I will get an error :

[code]

The option string supported by vim and languagetool are not the same, hence the error. Maybe just strip the option string before sending it to languagetool?

[2020-09-21 21:23] Melkster commented on #90
Both

[code]
and
[code]
should do the trick.

[2020-09-27 14:43] RonanMacF commented on #39
Hi, has there been any progress on this issue? I am experiencing it myself using neovim v.05.

[2020-10-01 08:00] oblitum commented on #40
Would be great if TeXtidote was added, it even supports json results for easy parsing.

[2020-10-21 08:47] xarthurx opened #93 "Use languagetool-commandline.cmd installed in the system in windows"
Hi, I have the languagetool installed in windows by [scoop](https://scoop.sh) and it provides a command `languagetool-commandline.cmd` that can be executed in windows `cmd`/`powershell`.

Would it be possible to have a detection mechanism for `grammarous` to use that directly and not download the java package?
I always get an error of `|| vim-grammarous: Grammar check failed: Error: Unable to acce

[2020-10-29 13:44] yamsu opened #94 "Buffer replaced with info window on GrammarCheck"
The issue is resolved! Details are provided for reference.

I'm using vim-8.2 with +python3

After running GrammarCheck the errors in the text are highlighted and on pressing any key the info window replaces the buffer. Pressing q closes the vim instance.

I tried the same this with ```let g:grammarous#hooks = {}```.  When I move the cursor over the highlighted text again the info window replaces

[2020-10-29 13:45] #94 closed

[2020-11-18 21:24] oversearch commented on #52
I'm not sure if this is directly what you're referring to, but I thought I'd mention that LanguageTool also allows you to run a self-hosted HTTP API: https://languagetool.org/http-api/swagger-ui/#!/default/post_check

This is nice because you can host it in the cloud or on your own hardware, and have it set up with all the additional models and n-gram data that's available.  These features require

[2020-12-11 12:13] crile commented on #93
Do you have tried to add this line in your vim configuration :

`let g:grammarous#languagetool_cmd='languagetool-commandline.cmd'`

[2020-12-13 14:03] xarthurx commented on #93
OK, I tried adding that line, now VIM gives me:

[code]

on checking some English files.

[2020-12-30 20:44] refaelsh opened #96 "Bug in `upaired symbol`"
Hi,

I think I found a bug. Please consider this screenshot:
![2020-12-30_22-40](https://user-images.githubusercontent.com/2750775/103380071-6ca08e00-4af0-11eb-9a9b-7810519d2eb8.png)
I can clearly see that the brackets are matched/paired. Why it is complaining it is not?

Thanks.

[2021-01-01 04:39] AceofSpades5757 opened #97 "Won't recognize that LanguageTool is installed"
**OS**: Windows

Running `:GrammarousCheck` will always attempt to download LanguageTool, and fail due to the spaces in my path (gives an error when trying to create the directory showing the path stopping at the first space). Manually downloading and extracting it will do the same thing. I've confirmed it was the correct download with my WSL Vim that actually ran the automatic download and ran th

[2021-03-18 23:04] searleser97 opened #98 "Could it be possible to use grammarous with ltex-ls ?"
[ltex-ls](https://github.com/valentjn/ltex-ls) seems to be a very robust language server protocol enhanced to use with **LaTex** or **Markdown** files, It works amazingly when using its vscode extension, so, Do you think is possible to adapt grammarous so that it can work with this LSP?

[2021-03-25 09:31] asamountain commented on #90
Hm.. I wonder why there isn't a guide for installation in README.md

[2021-05-11 20:27] rddunphy commented on #88
I know I'm a year late, but in case anyone else comes across this...

You can set a highlight group for `GrammarousError`, which by default gets aliased to `SpellBad`. So, the following sets red undercurls for spelling, and green undercurls for grammar (probably need to set foreground colour to work in terminals):

[code]

[2021-06-23 11:59] kevincox opened #99 "Crash with multiple languages in `spelllang`."
[code]

This appears to occur because there is a path through the function where lang does not get defined:

https://github.com/rhysd/vim-grammarous/blob/db46357465ce587d5325e816235b5e92415f8c05/autoload/grammarous.vim#L275-L284

It appears that there should be a fallback for =0 (use default_lang?) and >2 segments (raise an error?).

This problem seems to be occurring because I have multiple langu

[2021-09-05 12:54] iazel commented on #82
I would recommend trying [Nix](https://nixos.org/guides/install-nix.html) package manager, then you just have to run `nix-env -iA nixpkgs.languagetool` and let this plugin use it through:
[code]

[2022-02-09 22:16] pozix604 opened #102 "Allow using LanguageTool via TCP port"
LanguageTool can be run via a docker container, and exposed via a TCP port. Please enhance to allow using LanguageTool without it installed but via a server.

https://github.com/languagetool-org/languagetool lists a number of commonly used docker containers.

[2022-02-20 07:30] rikiwarren opened #103 "Getting "vim-grammarous: Grammar check failed:" error with no additional information."
I've been having issues with Grammarous failing on some Latex files.

I'm using yalafi-grammarous to pre-process the latex. Normally everything works fine--but sometimes I have issues.

By trial and elimination, I discovered that if I put the word "extra-dimensional" on a line, then trying to run :GerammarousCheck on any range that includes that line fails--even if I'm running it on a selection of

[2022-03-09 09:56] SpyrosMourelatos commented on #90
Because it is pretty standard, and it is already documented on whichever package manager one prefer.
It could be bothersome for one plugin creator to have to write down 20 different ways to install the plugin(which are essentially the same thing).
For example, vim plug documents that on it's  [examples](https://github.com/junegunn/vim-plug#example)
with lines as such
[code]

[2022-04-03 21:09] fmv1992 commented on #62
One idea: you should go with the default quick fix list, or at least enable that.

[2022-05-12 14:17] kevincox commented on #40
I wonder if this can be fixed in the plugin instead of LanguageTool. With more and more highlighters supporting fenced languages Vim now knows what part of my markdown doc are markdown and what are code blocks. Even if the markdown inline syntax causes a few errors it would be great if the code blocks could be ignored since those cause a huge amount of problems and are annoying to skip over every

[2022-05-18 11:36] pinpox commented on #40
If I'm not mistaken, this should be possible with tree-sitter.

[2022-05-18 14:08] DerWeh commented on #40
Recently I switched to [ltex](https://valentjn.github.io/ltex/) which is based on LanguageTool and does a reasonable job supporting LaTeX and other markup languages. It can simply be used as a language server in vim/neovim, see https://valentjn.github.io/ltex/installation-usage.html.

It tends to use excessive amounts of memory and so far I wasn't able to add words to the dictionary, but else it s

[2022-06-20 07:32] arthurkiller opened #105 "[Error] exit code 122"
Command: languagetool --enablecategories PUNCTUATION -d WHITESPACE_RULE,EN_QUOTES -c utf-8 -l en --api /var/folders/tp/r3zsq66s6yv7qcyj5zf63pqc0000gp/T/vCSNviV/5

vim-grammarous: Grammar check failed with exit status 122:

[2022-06-20 07:33] arthurkiller commented on #105
osx 12.4 with vim 8.2
java 8

[2022-06-29 21:55] KingJulianS opened #106 "I see last commit was 2020, is this still maintained"
As per title

[2022-08-30 11:41] KingJulianS commented on #106
No activity, are there any other recommended similar plugs ?

[2022-08-30 11:44] #106 closed, assigned to nobody

[2022-08-30 11:44] KingJulianS commented on #106
closing, will search around

[2022-09-02 21:24] Bogdan-Torkhov opened #107 "How I can auto check my Markdown code"
I want to enable some setting to enable auto check (when I write my Markdown code, I want to do not enter command I want it will run it every time). What I need to do to enable it?

[2022-10-25 16:02] DanRoscigno opened #109 "Error when applying fix to last error in file"
Thanks for Grammarous, I really like using it.  When I am working in a file and applying the recommended fixes the final fix causes an error:

[code]
This happens whether I am applying the fix from the window where my text is, or if I am in the Grammarous info window.  When I am in the window where my text is, I am using `grammarous-fixit`, and if I switch to the Grammarous info window I am using

[2022-10-26 14:56] lcfd commented on #107
The project seems not very active. The best that I can suggest is to create an Autocommand that listens to typing.

https://neovim.io/doc/user/autocmd.html

[2022-11-28 10:09] jdhao commented on #40
@DerWeh Are you using both ltex and vim-grammarous? What is your take on their pros and cons? I also find [vale](https://github.com/errata-ai/vale). Haven't used vale and not sure how is it compared langtool.